In [2]:
#  Importing important modules
import pandas as pd
import numpy as np
import random as rd

In [10]:
colss = ["Student ID", 'Full name', 'E-mail', 'Program', 'African Studies', 'AutoCad',
         'Process eng', 'Engineering maths', 'English', 'Science', 'Energy PRoejct', 'Agric']
details = []
inds = [0]
all_dataframes = []
indd = []

i = 1


# def var_gen():
#     global var
#     word = 'data'
#     num = str(rd.randint(1, 1000))
#     var = word + num

#     return var

def index_reset():
    global inds
    indexing = inds[0] += 1
    inds.clear()
    inds.append(indexing)


def num():
    global gradebook_restart
    global dt

    gradebook_restart = input(
        'Do you want to use the gradebook again: ').capitalize()

    if gradebook_restart == 'Yes':
        print("Sure , then enter your details again")
        details.clear()
        details_credentials()
        index_reset()

        new_zipped_data = list(zip(colss, details))
        new_df = pd.DataFrame(dict(new_zipped_data), index=inds)
        all_dataframes.append(new_df)
        data1()

    dt = pd.concat(all_dataframes)


def details_marks():
    # print('Enter the results for', {colss[j]}, ':')

    q2 = int(input('Enter your mark for quiz 1: '))
    # q3 = int(input('Enter your mark for quiz 2: '))
    # q4 = int(input('Enter your mark for quiz 3: '))
    # q5 = int(input('Enter your mark for quiz 4: '))
    # q6 = int(input('Enter your mark for quiz 5: '))
    total_marks = q2

    details.append(total_marks)
    return total_marks


def details_credentials():
    for i in range(len(colss)):
        if i < 4:
            raw_details = input((f"Enter your details for {colss[i]}"))
            details.append(raw_details)
        else:
            print(f"Enter your marks for {colss[i]}")
            details_marks()


details_credentials()


def raw_score():
    df['Raw Score'] = df['African Studies'] + df["AutoCad"] + df['Process eng'] + \
        df['Engineering maths'] + df['English'] + \
        df['Science'] + df['Energy PRoejct'] + df['Agric']


def data1():
    global df
    global colss
    global details

    zipped_data = list(zip(colss, details))
    print(zipped_data)
    df = pd.DataFrame(dict(zipped_data), index=inds)
    # raw_score()
    all_dataframes.append(df)

    num()


data1()

dt

Enter your marks for African Studies
Enter your marks for AutoCad
Enter your marks for Process eng
Enter your marks for Engineering maths
Enter your marks for English
Enter your marks for Science
Enter your marks for Energy PRoejct
Enter your marks for Agric
[('Student ID', 'sd'), ('Full name', 'wr'), ('E-mail', 'fg'), ('Program', 'hg'), ('African Studies', 54), ('AutoCad', 65), ('Process eng', 34), ('Engineering maths', 86), ('English', 56), ('Science', 98), ('Energy PRoejct', 76), ('Agric', 45)]
Sure , then enter your details again
Enter your marks for African Studies
Enter your marks for AutoCad
Enter your marks for Process eng
Enter your marks for Engineering maths
Enter your marks for English
Enter your marks for Science
Enter your marks for Energy PRoejct
Enter your marks for Agric
[('Student ID', 'df'), ('Full name', 'hj'), ('E-mail', 'uy'), ('Program', 'er'), ('African Studies', 45), ('AutoCad', 76), ('Process eng', 87), ('Engineering maths', 34), ('English', 54), ('Science', 56), ('Energy PRoejct', 76), ('Agric', 89)]
Sure , then enter your details again
Enter your marks for African Studies
Enter your marks for AutoCad
Enter your marks for Process eng
Enter your marks for Engineering maths
Enter your marks for English
Enter your marks for Science
Enter your marks for Energy PRoejct
Enter your marks for Agric
[('Student ID', 'fv'), ('Full name', 'hj'), ('E-mail', 'uy'), ('Program', 'tt'), ('African Studies', 33), ('AutoCad', 4), ('Process eng', 76), ('Engineering maths', 98), ('English', 56), ('Science', 34), ('Energy PRoejct', 23), ('Agric', 43)]

,Student ID,Full name,E-mail,Program,African Studies,AutoCad,Process eng,Engineering maths,English,Science,Energy PRoejct,Agric
0,sd,wr,fg,hg,54,65,34,86,56,98,76,45
1,df,hj,uy,er,45,76,87,34,54,56,76,89
1,df,hj,uy,er,45,76,87,34,54,56,76,89
2,fv,hj,uy,tt,33,4,76,98,56,34,23,43
2,fv,hj,uy,tt,33,4,76,98,56,34,23,43

In [9]:
df
# data
# gen
# inds
# vim
# i
all_dataframes
inds
# len(colss)
# details

[2]

In [5]:
# num()
# code
inds

[2]

In [ ]:
new_df = pd.concat([df, data])
new_df
# new_df[['Agric']].sort(ascending = False)

In [ ]:
df.loc[:, ['African Studies', "Agric"]].sum()

In [76]:
i = [4]
i.append(5)
i

[4, 5]